@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');
/* @font-face {
  font-family:Perpetua-Titling-MTLight2;
  src: url('//Fonts/PERTILI.TTF');
}  */


body
{
    color: #333333; 
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.4px;
    margin: 0px;
    background: #fdfdfd;
}
h2
{
  font-size: 32px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
h3
{
  font-size: 32px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  font-family: Perpetua-Titling-MTLight2;
  font-weight: 400;
  line-height: 1.15; 
}
p
{
    color: #333333; 
    font-family: 'Nunito', sans-serif;
    font-size: 13.5px;
    font-weight: 400;
    line-height: normal;
}
.container
{
    max-width: 1140px;
    margin: 0 auto;
}
h3.temp-title
{
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
}
.temp-title
{
    color: #fff;
    margin-bottom: 0;
    font-size: 1.406em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.home-store-launch .temp-title
{
  text-align: center;
}
.temp-desc
{
  color: #fff;
}

/* height */
@media only screen and (max-width: 576px) {
  .height-250,.height-300,.height-350,.height-400,.height-500
  {
    height: 300px !important;
  }
}
.height-250
{
  height: 250px;
}
.height-300
{
  height: 300px;
}
.height-350
{
  height: 350px;
}
.height-400
{
  height: 400px;
}
.height-500
{
  height: 500px;
}

/* bootstrap Update start */

/* Slider */

.top-slide-body img,.slider-slide img
{
  transform: scale(1);
  transition: .3s ease-in-out;
}
.top-slide-body:hover img,.slider-slide:hover img {
  transform: scale(1.02) ;
}
.slider-slide{}
.slider-slide-body
{
  overflow: hidden;
  display: inline-flex;
}
.other-slider
{

}
.other-slider-slide
{
  /* display: flex !important; */
}

.carousel-control-prev-icon,.carousel-control-next-icon 
{
  height: 30px;
  width: 30px;
  background-size: 12px;
  background-color: #e3e2df;
  border-radius: 100px;
}
.carousel-control-prev-icon {
  background-image:url("../icon/chevron-double-left.svg") ;
  margin-left: 20px;
}
.carousel-control-next-icon {
  background-image: url("../icon/chevron-double-right.svg") !important;
  margin-right: 20px;
}


.carousel-control-next, .carousel-control-prev {
  width: max-content;
  height: max-content;
  top: 45%;
}
/* bootstrap Update End */

/* Accordion */
.accordion 
{
  font-size: 20px ;
  line-height: 35px;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}
.accordion h2 button{
  font-size: 20px !important;
}
.accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none;
  transform:none;
}
.accordion-button::after {
  margin-left: auto;
  content: "+";
  background-image: none;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.accordion-item {
  margin-bottom: 20px;
}
.accordion-header {
  border: 1px solid black;
}
.accordion-collapse {
    border: 1px solid black;
    border-top: 0;
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: inherit;
  box-shadow: none;
}
.accordion-button.collapsed
{
  background: rgb(255, 255, 255) !important;
  color: #212529 !important;
}
.accordion-button
{
  background: #5d001e !important;
  color: white !important;
  border-radius: 0px !important;
}

.accordion-body
{
  text-align: left;
}



.heading-name
{
  padding: 20px 0;
  color: #000;
  text-align: center;
  margin: 10px 0;
  border: 10px solid #000;
}
.heading-name h1
{
  margin: 0 auto;
  font-size: 2em;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-family: Perpetua-Titling-MTLight2;
  font-weight: 400;
  line-height: 1.15;
}
.input-search {
  background: #fff;
  background-origin: border-box;
  min-height: 40px;
  border: 1px solid #000;
  font-family: SansPro-Regular;
  font-weight: 300;
  font-size: 1em;
  line-height: 20px;
  padding: 0.375em;
  width: 100%;
}
.btn-search {
  background: #000;
  min-height: 40px;
  color: #fff;
  width: 100%;
  max-width: 100%!important;
  padding: 0;
  border-radius: 0;
  border-color: #000;
  box-shadow: inset 0 0 0 0 #000;
  transition: .4s ease-out;
}
.half-img, .full-half-img
{
  border-radius: 0 !important;
}
.carousel-item .full-img-slide{
  height: 480px;
  object-fit: cover;
}

.multi-carousel-1, .multi-carousel-2,.multi-carousel-3
{
  display: flex;
  justify-content: space-between;
}
.multi-carousel-1 .full-half-img img,.multi-carousel-3 .full-half-img img
{
  height: 100%;
  object-fit: cover;
}
.multi-carousel-1 .img-title,.multi-carousel-3 .img-title
{
  margin-left: 0px;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
  font-size: 1.406em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  text-transform: capitalize;  
  position: relative;
}
.multi-carousel-1 .img-title
{
  bottom: 0;
  top: revert;
  position: absolute;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 25px;
  width: inherit;

}
.half-img .img-title
{
  /* width: 45%; */
}
.multi-carousel-3 .img-title
{
  bottom: 0;
  top: revert;
  position: absolute;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 25px;
  width: inherit;
}
.multi-carousel-3 .img-title p
{
  color: #fff;
}
.multi-carousel-1 > div,.multi-carousel-3 > div
{
  width: 50%;
  border-radius: 0;
}
.multi-carousel-1 .half-img img,.multi-carousel-3 .half-img img
{
  height: 100%;
  object-fit: cover; 
}
.multi-carousel-2 > div
{
  width: 49.5%;
  border-radius: 0;
}

.multi-carousel-2 .half-img img
{
  width: 100%;
  object-fit: cover;
}

.all-btn{
    max-width: 100%!important;
    width: 100%;
    font-family: Perpetua-Titling-MTLight2;
    letter-spacing: normal;
    padding: 16px 20px;
    border: 5px solid #000;
    background-color: transparent;
    font-size: 2em;
    letter-spacing: .3em;
    line-height: .9;
    text-transform: uppercase;
    color: #000000;
    transition: .4s ease-out;
}
.other-slider .temp001
{
  display: inline-grid;
}
.other-slider .temp001 > div
{
  padding: 5px 0;
}
.other-slider .text2-cantainer:hover
{
  text-decoration: underline;
}
.multi-line-slider
{

}
.text2-cantainer,.text-cantainer
{
  background: #ffffff;
  border: 1px solid #d8d8d8;
}
.text2-body
{
  padding: 15px;
}
.slider-text2-title,.slider-text2-text
{
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  line-height: normal;
  letter-spacing: 0;
  text-align: left;
}
.slider-text2-title
{
  font-weight: 600;
}
.all-btn:hover{
  color: #fff;
  background-color: black;
}


/****************** Nav Start *****************/
.header-logo
{
    min-width: 100%;
    padding: 9px 0px 2px;
    justify-content: center;
    display: inline-flex;
}
.logo-img
{
    width: 254px;
    margin: 10px auto;
}
.header-nav
{
    min-width: 100%;
    background-color: #000000;
    max-height: 54px; 
}
.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    min-width: 100%;
    justify-content: center;
  }
  
  .header-nav li {
    float:none; 
  }
  .nav{
    max-width: 200px;
    width: 200px;
  }
.nav > a
{
  text-transform: uppercase;
}
  .header-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
  }
  .header-nav li a:hover {
    background-color: #080808;
  }
  .header-nav .subnav
  {
      display: none;
      background-color: #080808;
  }
  .header-nav li:hover ul
  {
    display: block;
  }
/************ nav end *************/

/************ footer start *************/
.foot
{
  padding-top: 80px;
}
.brand-info__divider {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}
.brand-info__divider hr {
  border-color: #000;
  padding: 0;
  opacity: 1;
}
.foot .footer-menu {
  padding: 50px 16px 80px;
  list-style: none;
  text-align: center;
}
.foot ul li a {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
.foot ul li .achor-link {
  margin: 0 28px;
  font-size: 1em;
  position: relative;
}
.foot ul li .achor-link:hover:after {
  right: 0;
}
.foot ul li .achor-link:after {
  border-radius: 1em;
  border-top: 1px solid #000;
  content: "";
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 1px;
  transition: right .4s cubic-bezier(0,.5,0,1);
}
.follow-us-title
{
  text-align: center;
  letter-spacing: .2em;
}
.footer-icon
{
  text-align: center;
  margin-bottom: 35px;
  margin-top: 25px;
}
.footer-icon ul
{
  list-style: none;
  display: inline-flex;
  padding: 0;
}
.footer-icon li
{
margin: 0 10px;
}
.button-ripple {
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  transition: all .4s ease-in;
  border-radius: 50%;
}
.button-ripple:before {
  content: "";
  background-color: #000;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(.001);
}
/************ footer end *************/



/***************** Container *****************/
.top-container h1 {
  text-transform: uppercase;
  font-family: 'Prata', serif;
  font-weight: 600;
  line-height: 1.15;
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px)
{ 
  .top-container h1 {
    font-size: 1.75em;
    margin-bottom: 30px;
  }
}

.text-center {
  text-align: center!important;
}
.bottom-container h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 600;
  line-height: 1.65;
}
p a{
  color: #333;
  text-decoration: none;
}
p a:hover{
  text-decoration: underline;
} 

.bottom-container p {
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 1.65;
  font-size: 24px;
  margin-bottom: 32px;
}

/***************** About us start*****************/

.about-us
{
  text-align: left;
}
.about-us .image-wrapper img
{
  max-width: 100%;
}
.about-us .image-wrapper
{
  padding-bottom: 60px;

}
.about-us .bottom-container .btn {
  text-transform: uppercase;
  max-width: 380px !important;
  width: 100%;
  font-weight: 600;
  letter-spacing: normal;
  padding: 16px 20px;
  /* font-family: 'Barlow Condensed', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.65;
  font-size: .875em;
}

.about-us .img-col
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.about-us .img-col .col-img-list
{
  margin: 0;
  padding: 0;

}
.about-us .round-img
{
  border-radius: 100%;
}
.about-us .img-col .col-img-list a p
{
  font-size: 32px;
  font-family: 'Barlow Condensed', sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}
.about-us .img-col .col-img-list a
{
  text-decoration: none;
  color: #000000;
}
.about-us .img-col .col-img-list a:hover
{
  text-decoration: underline;
}
.about-us .col-img-list div
{
  display: flex;
  justify-content: center;
}

/***************** Private Policy start*****************/
.page-policy
{
  text-align: left;
}
.page-policy h5{
  font-family: 'Prata', serif;
  font-size: 1.4em;
}
.page-policy p {
  font-size: 1.2em;
  line-height: 1.65;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;
}
.page-policy p a {
  color: #ff3417;
}
.page-policy .padding-left {
  margin-left: 5%;
}
.page-policy .padding-left01 {
  margin-left: 8%;
}
.page-policy .padding-left02 {
  margin-left: 11%;
  margin-bottom: 10px;
}
.page-policy Table {
  width: 90%;
  color: #212529;
}
.page-policy Table th {
  width: 50%;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.page-policy .table td,.page-policy .table th {
  padding: 0.75rem;
  font-size: 1.2em;
  margin-bottom: 32px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table>:not(:first-child) {
  border-top: none !important;
}
.page-policy .padding-left01{
  line-height: 1.65;
  margin-bottom: 32px;
}
.page-policy ul.padding-left01 {
  list-style-type: disc;
}
.page-policy ul.padding-left01 li {
  margin-bottom: 16px;
} 

@media only screen and (max-width: 768px) 
{
  .page-policy h5{
    font-size: 1.2em;
  }
  .page-policy p {
    font-size: 16.8px;
    margin-bottom: 20px;
  }
  .page-policy .padding-left01 {
    margin-bottom: 16.8px;
  }
  .page-policy .table td,.page-policy .table th {
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 32px;

  }
}


/***************** Terms & Conditions start*****************/
.page-tandc
{
  text-align: left;
}
.page-tandc h5{
  font-family: 'Prata', serif;
  font-size: 1.4em;
}
.page-tandc p {
  font-size: 1.2em;
  line-height: 1.65;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;

}
.page-tandc p a {
  color: #ff3417;
}
.page-tandc .padding-left {
  margin-left: 5%;
}
.page-tandc .padding-left01 {
  margin-left: 8%;
}
.page-tandc .padding-left02 {
  margin-left: 11%;
  margin-bottom: 5px;
}
.page-tandc Table {
  width: 90%;
  color: #212529;
}

.page-tandc .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.page-tandc .table td,.page-tandc .table th {
  padding: 0.75rem;
  font-size: 1.2em;
  margin-bottom: 32px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-bordered, .table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table>:not(:first-child) {
  border-top: none !important;
}
.page-tandc ul {
  list-style-type: lower-alpha;
  font-family: 'Nunito', sans-serif;
  line-height: 1.65;
  margin-bottom: 32px;
}
.page-tandc ul a {
  color: #ff3417;
  text-decoration: none;
}
.page-tandc ul a:hover {
  text-decoration: underline;
}
.page-tandc ul li {
  margin-bottom: 16px;
} 
@media only screen and (max-width: 768px)
{
  .page-tandc p
  {
    font-size: 16.8px;
  }
  .page-tandc .table td,.page-tandc .table th {
    padding: 0.4rem;
    font-size: 16.8px;
  }
  .page-tandc h5{
    font-size: 16.8px;
  }
  
}


/***************** Contact Us start*****************/
.page-contact
{
  text-align: left;
  
}
.page-contact h5{
  font-family: 'Prata', serif;
  font-size: 1.4em;
}
.page-contact p {
  font-size: 1.2em;
  line-height: 1.65;
  margin-bottom: 32px;
  font-family: 'Nunito', sans-serif;
}
.page-contact p a {
  color: #ff3417;
}

.page-contact .contact-form-form .card-title {
  font-size: 2em;
  font-family: 'Barlow Condensed', sans-serif;

  font-weight: 600;
  line-height: 37px;
  color: #404040;
  margin-bottom: 0;
  padding-bottom: 26px;
}
.page-contact .card-text ul{
  padding-bottom: 40px;
  
}
.page-contact .card-text li {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.65;
  list-style: disc;
  padding-bottom: 3px;
}
.input-text-wrapper input:focus-visible {
  outline: none;
}
.input-text-wrapper input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #000;
  box-shadow: none;
}
.contact-form input,.contact-form select{
  padding: 5px 5px;
  border: 1px solid #000;
  border-radius: 0;
}
.btn-outline-dark {
  background-color: transparent;
  border-radius: 0 !important;
  box-shadow: inset 0 0 0 0 #000;
  max-width: 160px !important;
  width: 100%;
  font-size: .875em;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .2em; 
}


/****** first slider  ******/

.first-slider .carousel-inner
{
  border: 4px solid #0e0b16;
}
.first-slider .slider-text1 {
  right: 4% !important; 
  left: 4% !important;
  text-align: left !important;
}

.heading-type
{
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  color: #fff ;
  margin-bottom: 10px;
  font-size: 16px;
}
.heading-title
{
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 48.78px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
}
.heading-description
{
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}
.heading-button
{
  border-radius: 0 !important;
  background-color: rgba(0,0,0,.5) !important;
  box-shadow: inset 0 0 0 0 #fff;
  transition: .4s ease-out;
  border-radius: 0;
  font-size: 11px;
  max-width: 165px;
  width: 100%;
}

/* **************** Home start**************** */

/* Malls */

.heading-2
{
  padding: 60px 0 30px;
  font-family: Perpetua-Titling-MTLight2;
}


/***************** Malls Page *****************/
.malls-list
{

}

.malls-list .card
{
  border-radius: 0;
  height: 100%;
}
.malls-list .malls-img
{
  height: 100%;
  object-fit: cover;
}
.malls-list .col-padding
{
  padding: calc(var(--bs-gutter-x) * .5);
}
.malls-list .malls-name
{
  color: #fff;
  margin-bottom: 0;
  font-size: 1.406em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
}
.malls-list .card-img-overlay {
  top: auto;
}
.multi-carousel-1 h3{
  color: #fff;
}

/***************** Malls Details Page *****************/

.mall-description
{}

.mall-name2 h2
{
  margin: 0 auto;
  font-size: 2em;
  letter-spacing: .3em;
  text-transform: uppercase;
  font-family: Perpetua-Titling-MTLight2;
  font-weight: 400;
  line-height: 1.15;
}
.mall-name2
{
  padding: 20px 0;
  color: #000;
  text-align: center;
  margin: 10px 0;
}
.mall-description .mall-description-text
{
  padding: 20px 40px;
  font-size: 20px;
  line-height: 1.65;
  color: #000;
  text-align: left;
}

.services-facilities
{}
.services-facilities h3
{
  padding: 60px 0 30px;
}
.services-facilities .s-f p
{
  font-size: 20px;
}





/* Offers & Promos */
.offerpromo{

}
.offerpromo .full-half-img img,.offerpromo .half-img img
{
  height: 100%;
  object-fit: cover;
}
.offerpromo .card{
  flex-direction: row;
}
.promo-head{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}
.offerpromo h3{
color: #fff;
text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
}
.promo-title{
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
  font-size: 22px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}
.promo-desc{
  color: #fff;
}

.offerpromo .img-title {
  text-align: left;
  bottom: 0;
  top: revert;
  position: absolute;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 50%;
}
.img-title-first
{
  bottom: 50% !important;
}

/* Collections & Launches */
.collections{

}
.collections .full-img img,.collections .half-img img
{
  height: 100%;
  object-fit: cover;
}
.collections .card{
  flex-direction: row;
}
.collect-head{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}
.collections h3{
color: #fff;
text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
}
.collect-title{
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
  font-size: 22px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}
.collect-desc{
  color: #fff;
}
.collections .img-title {
  bottom: 0;
  top: revert;
  position: absolute;
  padding-left: 15px;
  padding-bottom: 15px;
}


/* Events */
.events{

}
.events .full-img img,.events .half-img img
{
  height: 100%;
  object-fit: cover;
}
.events .card{
  flex-direction: row;
}
.events-head{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}
.events h3{
color: #fff;
text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
}
.events-title{
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
  font-size: 22px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}
.events-desc{
  color: #fff;
}
.events-head{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  font-size: 16px;
}
.events .img-title {
  bottom: 0;
  top: revert;
  position: absolute;
  padding-left: 15px;
  padding-bottom: 15px;
}


/* FNL */
.fnl-container{
  background: black;
  padding: 20px 15px;
}
.fnl-head{
  padding-bottom: 15px;
}
.fnl-head h2
{
  color: #fff;
  font-family: Perpetua-Titling-MTLight2;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: .2em;
}
.fnl-slide
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
}
.fnl-slide .half-img img {
  height: 100%;
  object-fit: cover;
}
.fnl-slide .img-title {
  bottom: 0;
  top: revert;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-right: 25px;
}
.fnl-slide .img-title {
  margin-left: 0px;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 27%);
  font-size: 1.406em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.fnl-slide h3
{
  color: white;
  margin-top: -56px;
}



/* new headder */
/* .head-header
{
  position: fixed;
  z-index: 100;
  width: 100%;
  background: white;
} */
.head .nav
{
  max-width: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link:focus, .nav-link:hover {
  color: #ffffff;
}
.nav-link:hover {
  background-color: #333;
}
.sub-nav-1
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 2;
}
.nav-item:hover .sub-nav-1
{
  display: flex;
  /* min-width: 100%;
  width: 100%;
  justify-content: center;
  left: 0; */

}
.sub-nav-1 a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }


  #map
  {
      height: 100%;
      width: 100%;
      background-color: rgb(255, 0, 0);
  }
/*  */
.slider-img{
  object-fit: cover;
  overflow: hidden;
  /* min-height: 300px;
  max-height: 300px; */
}
.slider-text{
  text-align: left;
}
.slider-text-left{
  position: absolute;
    bottom: 0.5rem;
    left: .25rem !important;
    width: calc(50% - 0.5rem) !important;
    background: linear-gradient(180deg ,rgba(0,0,0,.0001),rgba(0,0,0,.7));
    padding: 10px 20px;
}
.slider-text-right{

  position: absolute;
    bottom: 0.5rem;
    left: calc(50% + .25rem) !important;
    width: calc(50% - .5rem) !important;
    background: linear-gradient(180deg ,rgba(0,0,0,.0001),rgba(0,0,0,.7));
    padding: 10px 20px;
}
.slider-text-left-top{
  position: absolute;
    bottom: 50%;
    left: .25rem !important;
    width: calc(50% - 0.5rem) !important;
    background: linear-gradient(180deg ,rgba(0,0,0,.0001),rgba(0,0,0,.7));
    padding: 10px 20px;
}
.slider-text-right-top{
  position: absolute;
    bottom: 50%;
    left: calc(50% + .25rem) !important;
    width: calc(50% - 0.5rem) !important;
    background: linear-gradient(180deg ,rgba(0,0,0,.0001),rgba(0,0,0,.7));
    padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
    .slider-text-right,
    .slider-text-left-top,.slider-text-right-top{
      position: absolute;
      bottom: 20px;
      left: 20px !important;
      width: 100%;
  }
.slider-text-left {
    bottom: calc(50% + 20px) !important;
    position: absolute;
    left: 20px !important;
    width: 100%;
}

.slider-text-left, .slider-text-right, .slider-text-left-top, .slider-text-right-top {
    position: absolute;
    bottom: 20px;
    left: 20px !important;
    width: 100%;
}
}


.top-slider{}
.top-slider-img
{
  height: 500px;
  overflow: hidden;
  object-fit: cover;
}
.top-slider-text
{
  text-align: left;
  right: 3%;
  left: 3%;
}

/* home page Mall */
.right-double
{
  display: inline-block;
}
.right-single{}
.left-double
{
  display: inline-block;
}
.left-single{}
